/*
 *= require jquery.ui.all
 */


/* Accordion Effect =====================================================================*/

#accordion h3 {
        text-transform:uppercase;
        font-size:11px;
        letter-spacing:2px;
}

#accordion .ui-accordion-header {
        border:none;
        background:none;
        width:630px;
        margin:0 auto;
        padding-left:230px;
}

#accordion .ui-icon {
        display:none;
}

#accordion .ui-accordion-content {
        padding:0;margin:0;
        border:none;
}

/* Accordion Content Style =================================================================*/

.slider {
    margin-left: 50px;
}

.container {
        width:450px;
        padding-left:100px;
        margin:0 auto;
        font-size:12px;
        line-height:160%;
}

p {
        margin-bottom:20px;
}

.container a {
        color:#ED7E8F;
}



.social {
        display:inline;
        margin-left: -40px;
}

ul li{
        display:inline;
        margin-right:7px;
}



/* Logo animation ======================================================================*/

#logo {
        margin: 0 auto 10px 200px;
        margin-right:50px;
        width:200px;
        height:192px;
        background:url(../images/img.png)no-repeat;
        float:left;


        transition:transform 0.5s ease;
        -webkit-transition:-webkit-transform 0.5s ease;
        -moz-transition:-moz-transform 0.5s ease;
        -o-transition:-o-transform 0.5s ease;
}

#logo:hover {
        -webkit-transform:rotate(10deg);
        -moz-transform:rotate(10deg);
        -o-transform:rotate(10deg);
        transform:rotate(10deg);
}

/* Title, Ocupation ========================================================================*/

h1 {
        padding:20px 0;
        margin:0;
        font-family:"Trebuchet MS", serif;font-size:100px;
        color:#222;
        font-weight:normal;
        line-height:80px;
}

#text {
    margin-top: 200px;
}

h4 {
        padding:20px 0;
        padding-left:200px;
        margin:0;
        margin-left:350px;
        font-family:"Comic Sans MS", serif;
        font-size:20px;
        color:#222;
        font-weight:normal;
        line-height:10px;
}

header {
    width: 100%;
    
}


/* Footer =========================================================================*/

footer {
        position:absolute;
        bottom:5px;
        width:95%;
        color:#000;
        font-size:10px;
        font-family:"Comic Sans MS", serif;text-shadow:rgba(255,255,255,0.15) 0 1px 1px;
        text-align:center;
}

footer .copyright {
        color:#000;
        text-shadow:rgba(255,255,255,0.15) 0 1px 1px;
}

.ui-widget-content a {
        color: #ED7E8F;
}


/* Media queries ==============================================================*/

/* iPhones 4, 5 */

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    
    html {
        width: 1000px;
        height: 1370px;
    }
    
    h1 {
        margin-top: 600px; 
    }

    #text {
       margin-top: 600px;
    }   

    h4 {
        padding-left: 140px;
    }

    #logo {
        margin: 10px auto 10px 100px;
        margin-right: 50px;
    }

    .slider {
        margin-left: 130px;
    }
    
    footer {
        margin-bottom: -900px;
        margin-left: 360px;
    }
}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    h1 {
        margin-top: 200px;
    }

    #logo {
        margin: 0 auto 10px 150px;
        margin-right: 40px;
    }

    .slider {
        margin-left: 160px;
    }

    .container {
        padding-left: 150px;
    }

    h4 {
        padding-left: 180px;
    }
}

/* Desktops and laptops ----------- */

@media only screen and (min-width: 1300px) {
   
   #logo {
        margin:0px auto 10px 28%;
        padding-right: 30px;
    }

    h4 {
        margin-left: 40%;
    }
    
    h1 {
        margin: -8px;
    } 

    .slider {
        margin-left: 10%;
    }       
}

/* Large screens ----------- */

@media only screen and (min-width: 1824px) {

    #logo {
        margin:10px auto 10px 28%;
        padding-right: 50px;
    }
    
    .slider {
        margin-left: 5%;
    }

    h1 {
        margin: 8px;
        padding:28px 0;
    }

    h4 {
        margin-left: 38%;
    }
} 